[package]
strategy = "build"
name = "ruby"

source_url = "https://github.com/ruby/ruby"
# Ruby tags use underscores: v3_4_1, v3_4_0, etc.
version_pattern = "v{{version}}"
dependencies = ["openssl@3.5", "zlib", "readline", "libyaml", "gmp"]
script = """
if [ -f configure ]; then
    echo "Using existing configure"
else
    echo "Skipping autogen - configure not present"
    echo "Note: Ruby releases include pre-generated configure"
fi
./configure --prefix=$PREFIX \
    --with-openssl-dir=$DEP_OPENSSL \
    --with-readline-dir=$DEP_READLINE \
    --with-libyaml-dir=$DEP_LIBYAML \
    --disable-install-doc
make -j$JOBS
make install
"""
