[package]
strategy = "build"
name = "python@nightly"

source_url = "https://github.com/python/cpython"
tag_pattern = "main" # Points to the main branch for "nightly"
version_pattern = "3.15.*"
dependencies = [
    "openssl@3",
    "sqlite",
    "zlib",
    "xz",
    "libffi",
    "readline",
    "ncurses",
]
script = """
export CPPFLAGS="-I$PREFIX/include"
export LDFLAGS="-L$PREFIX/lib"
./configure --prefix=$PREFIX \
    --enable-optimizations \
    --with-openssl=$PREFIX \
    --with-system-ffi \
    --with-readline=readline \
    --with-zlib=$PREFIX
make -j$JOBS
make install
"""
