[package]
strategy = "build"
name = "python@nightly"

source_url = "https://github.com/python/cpython"
tag_pattern = "main" # Points to the main branch for "nightly"
version_pattern = "^3.15"
dependencies = [
    "openssl@3.5",
    "sqlite",
    "zlib",
    "xz",
    "libffi",
    "readline",
    "ncurses",
]
script = """
./configure --prefix=$PREFIX \
    --enable-optimizations \
    --with-openssl=$DEP_OPENSSL \
    --with-system-ffi \
    --with-readline=readline \
    --with-zlib=$DEP_ZLIB
make -j$JOBS
make install
"""
